In [1]:
#Function

In [4]:
def avg(n1,n2,n3):
    return (n1+n2+n3)/3.0

print("Welcome")
#Function call
result1 = avg(10, 20, 30)
result2 = avg(1, 2, 3)
result3 = avg(1.5, 2.0, 3.1)

print(result1)
print(result2)
print(result3)

Welcome
20.0
2.0
2.1999999999999997

In [5]:
def display():
    print("Welcome")
    print("to new world")
display()

Welcome
to new world

In [6]:
#Keyword and default arguments

In [9]:
def avg(n1,n2,n3):
    return (n1+n2+n3)/3.0
print("Welcome")
result1 = int(input())
result2 = int(input())
result3 = int(input())

result = avg(result1, result2, result3) #Function Call
print(result)

Welcome
10
20
30
20.0

In [12]:
#Default
def avg(n1,n2,n3=5):
    return (n1+n2+n3)/3.0
print("Welcome")
num1 = int(input())
num2 = int(input())
#function Call
result = avg(num1,num2)
print(result)

Welcome
10
20
11.666666666666666

In [15]:
#Example for local variable
def func1():
    n = 4
    print("n value is: ", n)
    
def func2():
    n = 7
    print("n value is: ", n)
    func1()
    
#Main
func2()

n value is:  7
n value is:  4

In [17]:
#Example for global variable
n = 3
def func1():
    print("n value is", n)
    
def func2():
    n=5
    print("n value is ", n)
    func1()
    
#Main
func2()

n value is  5
n value is 3

In [19]:
#Updating global variable
var = 10
def func1():
    global var
    var = var + 1
    print("variable value in func1 is", var)
    return
#Main
func1()

variable value in func1 is 11

In [21]:
#Anonymous function | Lambda function
sum = lambda var1, var2:var1+var2
print("sum is ", sum(10, 30))

sum is  40

In [24]:
#Variable length arguments
def func1(*mylist):
    for num in mylist:
        print(num)
    return
#Main
func1(10, 20, 30)
func1(1, 2, 3, 4)
func1(1.2, 2.0, 3.5)

10
20
30
1
2
3
4
1.2
2.0
3.5

In [25]:
#Absolute Ceil Floor Round and Trunc Numeric Functions
abs(5)

5

In [26]:
abs(-6)

6

In [27]:
round(3.77765423, 3)

3.778

In [28]:
import math
math.ceil(4.6)

5

In [29]:
math.ceil(-3.1)

-3

In [30]:
math.ceil(3.3)

4

In [31]:
math.floor(4.6)

4

In [32]:
math.floor(-3.1)

-4

In [34]:
math.trunc(4.5)

4

In [35]:
math.trunc(-4.5)

-4

In [1]:
import math
math.e

2.718281828459045

In [2]:
math.exp(5)

148.4131591025766

In [4]:
math.e**5

148.41315910257657

In [5]:
math.sqrt(25)

5.0

In [6]:
math.sqrt(10)

3.1622776601683795

In [7]:
max(10, 2, 3.1, 5)

10

In [8]:
min(5, 10, 3.1, 2)

2

In [9]:
math.log(1)

0.0

In [10]:
math.log10(10)

1.0

In [11]:
#Modf Power Pi Degree and Radians Functions

In [12]:
import math
math.modf(11)

(0.0, 11.0)

In [13]:
math.modf(12.99562)

(0.9956200000000006, 12.0)

In [14]:
math.pow(2, 3)

8.0

In [16]:
math.pow(5, 2)

25.0

In [17]:
math.pi

3.141592653589793

In [19]:
math.degrees(math.pi)

180.0

In [20]:
math.radians(180)

3.141592653589793

In [21]:
#String Functions capitalize and count and endswith

In [22]:
str1 = "hello welcome to coding world"
str1

'hello welcome to coding world'

In [23]:
str1.capitalize()

'Hello welcome to coding world'

In [24]:
str2 = "Hello welcome to new world"
str2.capitalize()

'Hello welcome to new world'

In [25]:
str3 = """johny johny yes papa
eating sugar no papa
telling lie no papa
open your mouth haha"""

In [26]:
str3

'johny johny yes papa\neating sugar no papa\ntelling lie no papa\nopen your mouth haha'

In [28]:
str3.count('no')

2

In [29]:
str3.count('papa')

3

In [30]:
str4 = "google.com"

In [31]:
str4.endswith('com')

True

In [32]:
str4.endswith('m')

True

In [33]:
str4.endswith('org')

False

In [34]:
#Find, length, split, title

In [35]:
str1 = "Hello welcome to coding world"
str1

'Hello welcome to coding world'

In [36]:
str1.find('l')

2

In [38]:
str1.find('world')

24

In [39]:
len(str1)

29

In [40]:
str1.split()

['Hello', 'welcome', 'to', 'coding', 'world']

In [41]:
str2 = "Hello welcome to my heart"
str2

'Hello welcome to my heart'

In [42]:
str2.split()

['Hello', 'welcome', 'to', 'my', 'heart']

In [43]:
str2.split('t')

['Hello welcome ', 'o my hear', '']

In [44]:
str2.title()

'Hello Welcome To My Heart'

In [45]:
#String functions lower upper islower and isupper

In [46]:
str1 = "New Palace"
str1

'New Palace'

In [48]:
str2 = "WELCOME"
str2

'WELCOME'

In [49]:
str2.lower()

'welcome'

In [50]:
str2.islower()

False

In [51]:
str1 = "my palace"
str1.islower()

True

In [52]:
str1

'my palace'

In [53]:
str1.upper()

'MY PALACE'

In [54]:
str2

'WELCOME'

In [55]:
str2.isupper()

True

In [56]:
str3 = "Palace"
str3.isupper()

False

In [57]:
str1 = "Hello Welcome To My Palace"
str1.swapcase()

'hELLO wELCOME tO mY pALACE'

In [58]:
#String functions replace isdigit and isalpha

In [59]:
str1 = "hello welcome king"
str1

'hello welcome king'

In [61]:
str1.replace('king', 'queen')

'hello welcome queen'

In [62]:
str1.replace('e', 'E')

'hEllo wElcomE king'

In [63]:
str1.isdigit()

False

In [65]:
str3 = '189460'
str3.isdigit()

True

In [66]:
str3.isalpha()

False

In [67]:
str2

'WELCOME'

In [68]:
str2.isalpha()

True

In [69]:
str1

'hello welcome king'

In [70]:
str1.isalpha()

False

In [71]:
str4 = "Hai"
str4.isalpha()

True

In [1]:
#String Functions strip lstrip and rstrip

In [4]:
str1 = "!!!!!hello!!!!!"
str1.strip("!")

'hello'

In [5]:
str1 = "aaaaahelloaaaaaa"
str1.strip("a")

'hello'

In [6]:
str1 = "aaaaahelloaaaaahelloaaaaaa"
str1.strip("a")

'helloaaaaahello'

In [7]:
str1 = "!!!!!hello!!!!!"
str1.lstrip("!")

'hello!!!!!'

In [8]:
str1.rstrip("!")

'!!!!!hello'

In [9]:
#Modules in Python

In [10]:
import math
math.factorial(5)

120

In [11]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [12]:
import sys

In [14]:
sys.path

["C:\\Users\\HP\\Amul's Academy",
 'C:\\Users\\HP\\anaconda3\\python38.zip',
 'C:\\Users\\HP\\anaconda3\\DLLs',
 'C:\\Users\\HP\\anaconda3\\lib',
 'C:\\Users\\HP\\anaconda3',
 '',
 'C:\\Users\\HP\\anaconda3\\lib\\site-packages',
 'C:\\Users\\HP\\anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\HP\\anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\HP\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\HP\\anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\HP\\.ipython']

In [15]:
def mymodule1():
    name = input("Please enter your name: ")
    print("hello", name)
    return

In [1]:
#Dictionaries

In [3]:
temp = {}
temp ['sun'] = 30.2
temp ['mon'] = 30
temp['tue'] = 28
temp

{'sun': 30.2, 'mon': 30, 'tue': 28}

In [4]:
fruits = {'apple':'1kg', 'banana':'2kg', 'grapes':'3kg'}
fruits

{'apple': '1kg', 'banana': '2kg', 'grapes': '3kg'}

In [5]:
fruits.keys()

dict_keys(['apple', 'banana', 'grapes'])

In [6]:
fruits.values()

dict_values(['1kg', '2kg', '3kg'])

In [9]:
fruits['apple']

'1kg'

In [1]:
dict()

{}

In [3]:
num = {1:'one', 2:'two', 3:'three'}
num

{1: 'one', 2: 'two', 3: 'three'}

In [4]:
numbers = dict(num)
numbers

{1: 'one', 2: 'two', 3: 'three'}

In [6]:
len(num)

3

In [8]:
del num[2]

In [9]:
num

{1: 'one', 3: 'three'}

In [10]:
#Creating Dictionaries

In [11]:
#Using curly bracket syntax
my_dict = {1:'apple', 2:'cream', 3:'joy'}
my_dict

{1: 'apple', 2: 'cream', 3: 'joy'}

In [12]:
#Creating empty dictionary, fill in the entires one by one.
my_dict = {}
my_dict[1] = 'apple'
my_dict[2] = 'chicken'
my_dict[3] = 'milk'
my_dict

{1: 'apple', 2: 'chicken', 3: 'milk'}

In [13]:
#dictionary constructor and a list of tuple
d = dict([(1, 'cadberry'), (2, 'strawberry'), (3, 'blueberry')])
d

{1: 'cadberry', 2: 'strawberry', 3: 'blueberry'}

In [14]:
#From two parallel list
a = [1,2,3,4]
b = ['apple', 'banana', 'cat', 'monkey']
my_dict= {}
for i in range(len(a)):
    my_dict[a[i]] = b[i]
my_dict

{1: 'apple', 2: 'banana', 3: 'cat', 4: 'monkey'}

In [15]:
#Access
my_dict[2]

'banana'

In [16]:
my_dict.get(1)

'apple'

In [18]:
my_dict.get(5)

In [19]:
#Insert
my_dict

{1: 'apple', 2: 'banana', 3: 'cat', 4: 'monkey'}

In [20]:
my_dict[5] = "juicy"
my_dict

{1: 'apple', 2: 'banana', 3: 'cat', 4: 'monkey', 5: 'juicy'}

In [21]:
my_dict[2] = "mutton"
my_dict

{1: 'apple', 2: 'mutton', 3: 'cat', 4: 'monkey', 5: 'juicy'}

In [22]:
len(my_dict)

5

In [23]:
#fromkeys (iterable, value)

In [24]:
list1 = [1,2,3,4]

In [25]:
dict.fromkeys(list1)

{1: None, 2: None, 3: None, 4: None}

In [26]:
{}.fromkeys(range(1,8),10)

{1: 10, 2: 10, 3: 10, 4: 10, 5: 10, 6: 10, 7: 10}

In [27]:
#Set default (key, value)

In [28]:
students = {'kohli':20, "dhoni":21, 'pandya':22}
students.setdefault('chahal')

In [29]:
students

{'kohli': 20, 'dhoni': 21, 'pandya': 22, 'chahal': None}

In [30]:
students.setdefault('kohli')

20

In [33]:
students.setdefault('dravid', 25)
students

{'kohli': 20, 'dhoni': 21, 'pandya': 22, 'chahal': None, 'dravid': 25}

In [34]:
#Update()

In [35]:
dict1 = {1:'a', 2:'b'}
list1 = [3, 'c']
dict1.update([list1])
dict1

{1: 'a', 2: 'b', 3: 'c'}

In [36]:
dict1.update(s=5, t=4, u=6)
dict1

{1: 'a', 2: 'b', 3: 'c', 's': 5, 't': 4, 'u': 6}

In [37]:
dict2 = {2:'apple'}
dict1.update(dict2)
dict1

{1: 'a', 2: 'apple', 3: 'c', 's': 5, 't': 4, 'u': 6}

In [38]:
dict2.update(dict1)
dict2

{2: 'apple', 1: 'a', 3: 'c', 's': 5, 't': 4, 'u': 6}

In [40]:
#Delete, Pop, Clear

In [39]:
my_dict = {1:'a', 2:'b', 3:'c', 4:'d'}
del my_dict[2]
my_dict

{1: 'a', 3: 'c', 4: 'd'}

In [41]:
my_dict.pop(1)

'a'

In [42]:
my_dict.clear()
my_dict

{}

In [43]:
del my_dict

In [44]:
my_dict

NameError: name 'my_dict' is not defined

In [45]:
#List v/s Dictionaries

In [46]:
list = [4, 5, 6, 'hai']
list[3]

'hai'

In [48]:
dict = {1:'one', 2:'two', 3:'three'}
dict[2]

'two'

In [52]:
#Tempearature display program using list
daily_temp = [30, 32.5, 34, 33, 38.2, 33.35, 30.25]
day_name = input("enter 'sun', 'mon', 'tue', 'wed', 'thu', 'fri' or 'sat'")
if day == 'sun':
    day_name == 'sunday'
    temp = daily_temp[0]
elif day == 'mon':
    day_name == 'monday'
    temp == daily_temp[1]
        
elif day == 'tue':
    day_name == 'tuesday'
    temp = daily_temp[2]
        
elif day == 'wed':
    day_name =='wednesday'
    temp == daily_temp[3]
        
elif day == 'thu':
    day_name == 'thursday'
    temp == daily_temp[4]
        
elif day == 'fri':
    day_name == 'friday'
    temp = daily_temp[5]

elif day == 'sat':
    day_name == 'saturday'
    temp == daily_temp[6]
        
else:
    print("wrong input")
print("Temperature for: ", day_name, "was" , temp, "degrees.")

enter 'sun', 'mon', 'tue', 'wed', 'thu', 'fri' or 'sat'sun
Temperature for:  sun was 30 degrees.

In [53]:
#Temperature display program using dictionaries
daily_temps = {'sun':40, 'mon':40.2, 'tue': 40.5, 'wed':40.1, 'thu':38.6, 'fri':40.5, 'sat':30.65}
day_name = {'sun':'sunday', 'mon':'monday', 'tue':'tuesday', 'wed':'wednesday', 'thu':'thursday','fri':'friday','sat':'saturday'}
day = input("enter 'sun', 'mon', 'tue', 'wed', 'thu', 'fri' or 'sat': ")
print("The temperature for", day_name[day], "was", daily_temps[day], "degrees.")

enter 'sun', 'mon', 'tue', 'wed', 'thu', 'fri' or 'sat': mon
The temperature for monday was 40.2 degrees.