### Fundamental Concepts

In [1]:
#Variables
var_1 = 10

In [2]:
var_1

10

In [3]:
var = 10
var = 4.5
var = "hello"

In [4]:
4var = 10

SyntaxError: invalid syntax (<ipython-input-4-471082b2434e>, line 1)

In [5]:
8/9

0.8888888888888888

In [6]:
format(8/9, ".3f")

'0.889'

In [7]:
format("hello", "<40")

'hello                                   '

In [8]:
format("hello", ">20")

'               hello'

In [10]:
format("hello", "^30")

'            hello             '

In [12]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [14]:
print("hello \n world")

hello
 world

In [17]:
print("hello"
     " welcome")

hello welcome

In [16]:
print("hello\
welcome")

hellowelcome

In [18]:
#Arithmatic operators

In [19]:
#negation
-5

-5

In [20]:
#addition
5+2

7

In [21]:
#subtraction
5-2

3

In [22]:
#multiplication
5*2

10

In [23]:
#division
5/2

2.5

In [24]:
#Truncating div
5//4

1

In [25]:
#modulus
5%2

1

In [26]:
#exponential
5**6

15625

In [27]:
#Relational operator

In [28]:
#equal ==
5 == 5

True

In [29]:
#not equal !=
5!=4

True

In [30]:
#Less than <
5<4

False

In [31]:
#Greater than >
5 > 4

True

In [32]:
#Less than or equal to 
5<=4

False

In [33]:
5<=6

True

In [35]:
#Greater than or equal to
5>=6

False

In [36]:
5>=4

True

In [37]:
#Membership Operator

In [38]:
#in
5 in [1,2,3,4,5,6,7,8,9,10]

True

In [39]:
#not in
5 not in [1,2,3,4,5,6,7,8,9,10]

False

In [40]:
#Boolean Operator

In [41]:
#and
5 < 8 and 5 == 5

True

In [42]:
5 > 8 and 4==4

False

In [43]:
#or 
5 < 7 or 6==6

True

In [44]:
5 < 4 or 6==5

False

In [45]:
#not 
not (10 > 6)

False

In [46]:
#Presedence and associativity

In [47]:
2+5*4

22

In [48]:
(2+5)*4

28

In [49]:
2+5-1

6

In [50]:
2**3**4

2417851639229258349412352

In [51]:
3**4

81

In [53]:
2**81

2417851639229258349412352

In [54]:
#Input-Output function and Comments

In [55]:
input()

5

'5'

In [56]:
name = input("Enter your name:")
print("Hello")
print("Welcome", name)

Enter your name:sachin
Hello
Welcome sachin

In [57]:
#Control Structure

In [58]:
#Sequential control
print("Hello")
print("Welcome")
print("to new world")

Hello
Welcome
to new world

In [60]:
#Selection Control
var = int(input("Enter a integer value:"))
if var < 10:
    print("value is less than 10")
else:
    print("value is greater than 10")

Enter a integer value:5
value is less than 10

In [64]:
#Iterative control
var = 0
while var < 10:
    print(var)
    var = var + 1

0
1
2
3
4
5
6
7
8
9

In [65]:
#If - else statement

In [66]:
#this program to check whether the student got pass or fail
marks = int(input("Enter your marks in maths: "))
if marks >= 35:
    print("Pass")
else:
    print("Fail")
print("Thank you!")

Enter your marks in maths: 50
Pass
Thank you!

In [69]:
#Example for if statement
marks  = int(input('Enter the marks: '))
if marks == 100:
    print("You got rank")
print("Thank you")

Enter the marks: 100
You got rank
Thank you

In [71]:
#Nested if statement
name = "Chanukya"
college = "Nalandha"
marks = 95
if college == "Nalandha":
    if name == "Chanukya":
        print("Chanukya of College got", marks, "marks")

Chanukya of College got 95 marks

In [73]:
#If-elif-else Ladder
x = 20
y = 50 
z = 35
if x>y and x>z:
    print("x is greater")
elif z > y:
        print("z is greater")
else:
    print("y is greater")

y is greater

In [1]:
#Iterative Control

In [3]:
#For loop
for letter in "Python":
    print("Character is: ", letter)

Character is:  P
Character is:  y
Character is:  t
Character is:  h
Character is:  o
Character is:  n

In [4]:
for letter in [10, 20, 30, 40]:
    print(letter)

10
20
30
40

In [6]:
for letter in [10, 20, 30, 40]:
    if letter >= 25:
        print(letter, "greater than 25")
    else:
        print(letter, "less than 25")

10 less than 25
20 less than 25
30 greater than 25
40 greater than 25

In [7]:
#While loop
count = 1
while count <= 5:
    print(count)
    count = count + 1
print("Thank you")

1
2
3
4
5
Thank you

In [8]:
#Example for break statement

In [11]:
#While loop
count = 0
while count <= 5:
    if count == 3:
        break
    else:
        print(count)
    count = count + 1
print("Thank you")

0
1
2
Thank you

In [12]:
#For loop
for letter in "Python":
    if letter == "t":
        break
    else:
        print(letter)
print("Thank you")

P
y
Thank you

In [15]:
#Example for continue statement
#for loop
for letter in "Python":
    if letter == "t":
        continue
    else:
        print(letter)
print("Thank you")

P
y
h
o
n
Thank you

In [1]:
count = 10
while count > 0:
    count = count - 1
    if count == 3:
        continue
    print(count)
print("Thank you")

9
8
7
6
5
4
2
1
0
Thank you

In [2]:
#List

In [3]:
#Empty list
Animals = []
Animals

[]

In [4]:
Animals = ["dog", "Cat", "Cow", "ox"]
print(Animals)

['dog', 'Cat', 'Cow', 'ox']

In [5]:
Animals

['dog', 'Cat', 'Cow', 'ox']

In [6]:
Animals[0]

'dog'

In [7]:
list1 = [10, 20, 20.4, "Cow", 30]
print(list1)

[10, 20, 20.4, 'Cow', 30]

In [8]:
list1[3]

'Cow'

In [9]:
#Nested list
list2 = [[10, 20], [30, 40]]
print(list2)

[[10, 20], [30, 40]]

In [10]:
list2[0]

[10, 20]

In [11]:
list2[0][0]

10

In [12]:
#For loop
for num in [10,20,30, 40]:
    print(num)

10
20
30
40

In [13]:
#List Operations

In [14]:
Fruits = ["apple", "banana"]
print(Fruits)

['apple', 'banana']

In [15]:
#replace
Fruits[1] = "Orange"
print(Fruits)

['apple', 'Orange']

In [17]:
#insert
Fruits.insert(1, "grapes")
print(Fruits)

['apple', 'grapes', 'grapes', 'Orange']

In [18]:
#Sort
Fruits.sort()
print(Fruits)

['Orange', 'apple', 'grapes', 'grapes']

In [19]:
#delete
del Fruits[1]
print(Fruits)

['Orange', 'grapes', 'grapes']

In [21]:
#Append
Fruits.append("water lemon")
print(Fruits)

['Orange', 'grapes', 'grapes', 'water lemon']

In [23]:
#Reverse
Fruits.reverse()
print(Fruits)

['Orange', 'grapes', 'grapes', 'water lemon']

In [24]:
#Tuples

In [25]:
#Empty tuple
num = ()
num

()

In [26]:
animal = ("dog", "cat", "horse", "donkey")
print(animal)

('dog', 'cat', 'horse', 'donkey')

In [27]:
#Nested tuple
tuple1 = ((10, 20), (30, 40))
print(tuple1)

((10, 20), (30, 40))

In [29]:
tuple1[0]

(10, 20)

In [30]:
tuple1[0][0]

10

In [31]:
#Sequences

In [32]:
name = "Python"
list1 = [10, 20, 30.5, 4.6, 50, 60]
tuple1 = (10, 2, 3, 4.5, 4)

In [34]:
#1. Length
len(name)

6

In [35]:
len(tuple1)

5

In [36]:
len(list1)

6

In [38]:
#2. Select
name[0]

'P'

In [40]:
list1[1]

20

In [41]:
tuple1[3]

4.5

In [42]:
#3. Slice
name[1:4]

'yth'

In [43]:
list1[2:]

[30.5, 4.6, 50, 60]

In [45]:
tuple1[:2]

(10, 2)

In [47]:
#4. Count
name.count('y')

1

In [48]:
list1.count(50)

1

In [49]:
#5. Index
name.index('y')

1

In [50]:
list1.index(50)

4

In [52]:
#6. Membership
'm' in name

False

In [54]:
'P' in name

True

In [55]:
'P' not in name

False

In [56]:
#7. Concatenation
s = " Hai"
name + s

'Python Hai'

In [57]:
list2 = ["hello", 2]
list1 + list2

[10, 20, 30.5, 4.6, 50, 60, 'hello', 2]

In [58]:
tuple2 = (2,3)
tuple1 + tuple2

(10, 2, 3, 4.5, 4, 2, 3)

In [59]:
#8. Min Value
min (name)

'P'

In [60]:
#9. Max value
max(list1)

60

In [61]:
#10. Sum
sum(list1)

175.1

In [1]:
#Assignment and copyying

In [2]:
list1 = [10,2,3.5,4.5,40]
list1

[10, 2, 3.5, 4.5, 40]

In [3]:
list2 = list1
list2

[10, 2, 3.5, 4.5, 40]

In [4]:
list1[0] = 'apple'
list1

['apple', 2, 3.5, 4.5, 40]

In [5]:
list2

['apple', 2, 3.5, 4.5, 40]

In [6]:
list3 = list(list1)
list3

['apple', 2, 3.5, 4.5, 40]

In [7]:
list1[0] = 0
list1

[0, 2, 3.5, 4.5, 40]

In [8]:
list3

['apple', 2, 3.5, 4.5, 40]

In [9]:
result = [x**2 for x in [1, 2, 4]]
result

[1, 4, 16]

In [10]:
#Negative index

In [11]:
list = [10, 4, 2.5, 3]
list

[10, 4, 2.5, 3]

In [12]:
list[-1]

3

In [14]:
list.insert(-2, 3.5)
list

[10, 4, 3.5, 2.5, 3]

In [19]:
list[-3:-2]

[3.5]

In [20]:
del list[-2]

In [21]:
list

[10, 4, 3.5, 3]

In [22]:
#Range
for x in range(1, 11):
    print(x)

1
2
3
4
5
6
7
8
9
10